<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planification</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="container">
        <header>
            <nav id="nav-menu">
                <a href="./homePage.html" >Accueil</a>
                <a href="./planing.html" class="active-link">Planifier</a>
                <a href="./statistics.html">Statistiques</a>
                <a href="./settings.html">Reglages</a>
            </nav>
            <div>
                <h3>Personal Workflow</h3>
                <span class="subtitle">Organisation de vos activités groupées en catégories</span>
            </div>
    
            <!--   -->
        </header>
    </div>
</body>
</html>